#header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
    background-color: white;
    }

    #tabs {
        display:flex;
        flex-direction: row;
        gap: 16px;
    }

        #tabs > .tab{
            cursor: pointer;
        }

